@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --font-base: 'Jost', sans-serif;
    --font-alt: 'jost', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-base);
}

body {
  background: #f3f3f3;
  color: #333;
}

/* HEADER */

.topbar {
  width: 100%;
  padding: 20px 5%;
  background: #ff5350;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.brand {
  display: flex;
  align-items: center;
  gap: 16px;
}

.brand .logo {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.brand h1 {
  font-size: 36px;
  font-weight: 400;
  font-family: var(--font-alt);
}

.subtitle {
  font-size: 26px;
  opacity: 0.8;
  font-weight: 400;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 5%;
}

/* BUSCADOR */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.hero-left {
  max-width: 500px;
}

.hero-left h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.lead {
  font-size: 18px;
  margin-bottom: 20px;
  opacity: 0.85;
}

/* INPUT */
.searchbox {
  display: flex;
  gap: 10px;
}

.searchbox input {
  flex: 1;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.searchbox button {
  padding: 12px 20px;
  background: #ff5350;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.searchbox button:hover {
  background: #9e3533;
}

.searchbox button:active {
  background: #000000;
}

/* Hero image */
.hero-right {
  text-align: center;
}

.hero-right img {
  width: 260px;
  filter: drop-shadow(0 5px 10px rgba(0,0,0,0.1));
}

.hero-caption {
  margin-top: 8px;
  font-size: 14px;
  opacity: 0.7;
}

/* GRID */

.results {
  margin-top: 40px;
}

.results h3 {
  margin-bottom: 20px;
  font-size: 26px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-4px);
}

.card img {
  width: 120px;
  height: 120px;
}

.card-name {
  font-size: 18px;
  margin-top: 10px;
  text-transform: capitalize;
}

.card-id {
  font-size: 14px;
  opacity: 0.7;
}

.types {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.type {
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 12px;
  color: white;
}

/* FOOTER */

.site-footer {
  text-align: center;
  margin-top: 40px;
  color: #555;
  padding-bottom: 30px;
}

.site-footer a{
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}